# Khai bao Ip cho node master1
DB1_MGNT_IP=10.10.10.125
DB1_EXT_IP=172.16.69.125

# Khai bao Ip cho node master2
DB2_MGNT_IP=10.10.10.126
DB2_EXT_IP=172.16.69.126

GATEWAY_IP=172.16.69.1
NETMASK_ADD=255.255.255.0
NETMASK_ADD_VM=255.255.255.0

# SET PASSWORD
DEFAULT_PASS='Welcome123$'

RABBIT_PASS="$DEFAULT_PASS"
MYSQL_PASS="$DEFAULT_PASS"
TOKEN_PASS="$DEFAULT_PASS"
ADMIN_PASS="$DEFAULT_PASS"
MYSQL_ADMIN_PASS="$DEFAULT_PASS"
SERVICE_PASSWORD="$DEFAULT_PASS"
METADATA_SECRET="$DEFAULT_PASS"

SERVICE_TENANT_NAME="service"
ADMIN_TENANT_NAME="admin"
DEMO_TENANT_NAME="demo"
INVIS_TENANT_NAME="invisible_to_admin"
ADMIN_USER_NAME="admin"
DEMO_USER_NAME="demo"

ADMIN_ROLE_NAME="admin"
MEMBER_ROLE_NAME="Member"
KEYSTONEADMIN_ROLE_NAME="KeystoneAdmin"
KEYSTONESERVICE_ROLE_NAME="KeystoneServiceAdmin"

# OS_SERVICE_TOKEN="$DEFAULT_PASS"
